<div class="pageTitle">
  Catalog
</div>
<div class="searchRow">
  <div class="material-symbols-outlined">
    <div class="search">
      search<input class="searchBox" #searchBox id="search-box" (input)="search(searchBox.value)">
    </div>
  </div>
</div>
<div class="beefMenu">
  <div class="item" *ngFor="let beef of beef$ | async" routerLink="/product/{{beef.id}}">
    <div class="title">
      {{beef.grade | uppercase}}-{{beef.cut | titlecase}}
    </div>
    <div class="imageContainer">
      <img src={{beef.imageUrl}}
        alt="https://static.vecteezy.com/system/resources/previews/005/337/799/original/icon-image-not-found-free-vector.jpg">
    </div>
    <br>
    <div class="info">
      <div>
        Price: ${{beef.price.toFixed(2)}}/lb
      </div>
      <div>
        Total Amount: {{ (beef.weight > 0) ? beef.weight.toFixed(2) + " lbs" : "Out of Stock" }}
      </div>
    </div>
  </div>
</div>