<div class="pageTitle">
  Catalog
</div>

<div class="search">
  <div class="material-symbols-outlined">
    <label for="search-box"></label>
    <input type="search" #searchBox id="search-box" (input)="search(searchBox.value)">
  </div>
</div>
<div class="beefMenu">
  <div class="item" *ngFor="let beef of beef$ | async" routerLink="/product/{{beef.id}}">
    <div class="title">
      {{beef.grade | uppercase}}-{{beef.cut | titlecase}}
    </div>
    <div class="imageContainer">
      <img src={{beef.imageUrl}}>
    </div>
    <br>
    <div class="info">
      <div>
        Price: ${{beef.price.toFixed(2)}}/lbs
      </div>
      <div>
        Total Amount: {{beef.weight}}
      </div>
    </div>
  </div>
</div>