<img src="assets/background.jpg" class="background" alt="Cows on a farm">
<div class="bg"></div>
<div class="foreground">
    <app-nav-bar></app-nav-bar>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <div class="bottom">
        <div>
            <p>
                Welcome to our online store, where we provide the highest quality beef products available! We are
                passionate
                about providing our customers with premium beef cuts that are tender, juicy, and full of flavor.
            </p>
            <p>
                Our team consists of experienced professionals in the meat industry who carefully select the best cattle
                from trusted sources. We prioritize quality and work with suppliers who share our values and standards.
            <p>
                We believe in transparency and honesty, which is why we offer a satisfaction guarantee on all of our
                products. If you have any issues with your order, please don't hesitate to contact us. Our customer
                service
                team is available to help resolve any complaints or concerns.
            </p>
            <p>
            <p>
                You can reach us by phone at 716-534-5392 or at rjw5692@rit.edu. We
                take
                all feedback seriously and are committed to providing the best possible service to our customers.
            </p>
            <p>
                Thank you for choosing us for your beef needs. We look forward to serving you!
            </p>
        </div>
    </div>
</div>