.background {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.foreground {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
}

.container {
    position: relative;
    width: 75%;
    min-height: 90%;
    background-color: wheat;
    margin: 0 auto;
    color: black;
    text-decoration: None;
}

.bottom {
    position: relative;
    height: 20%;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 11;

}

#meme {
    text-align: center;
    font-size: xx-large;
}