<div>
    <div>
        Reset Password
    </div>
</div>
<div>

</div>
<h2>Reset Password</h2>
<label for="oldPassword">Old Password: </label>
<input id="oldPassword" #oldPassword
    (keyup.enter)=resetPassword(oldPassword.value,newPassword.value,newPasswordConfirmation.value)>
<br>
<label for="newPassword">New Password: </label>
<input id="newPassword" #newPassword
    (keyup.enter)=resetPassword(oldPassword.value,newPassword.value,newPasswordConfirmation.value)>
<br>
<label for="newPasswordConfirmation">Confirm New Password: </label>
<input id="newPasswordConfirmation" #newPasswordConfirmation
    (keyup.enter)=resetPassword(oldPassword.value,newPassword.value,newPasswordConfirmation.value)>
<br>
<button (click)=resetPassword(oldPassword.value,newPassword.value,newPasswordConfirmation.value)>Submit</button>
{{warning}}