.navBar {
  display: flex;
  background-color: #030F11;
  justify-content: space-between;
}

.leftContainer{
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

.rightContainer{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.title{
  color: white;
  font-size:xx-large;
}
.navLink {
  padding: 10px;
  background-color: #941C2F;
  color: white;
  text-decoration: none; 
}

.navLink:hover{
  background-color: white;
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 10px;
  background-color: #941C2F;
  color: white;
}

.dropdown:hover{
  background-color: white;
  color: black;
}
.dropdown-toggle {
  cursor: pointer;
  padding: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 57%;
  right: 0;
  z-index: 1;
  display: none;
  min-width: 160px;
  background-color: #941C2F;
}

.dropdown-menu li {
  list-style: none;
  padding: 5px 10px;
  padding-left: 0;
}

.dropdown-menu li:hover {
  background-color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}