.navBar {

  min-height: 8%;
  width: 100vw;
  display: flex;
  background-color: #030F11;
  justify-content: space-between;
  align-items: stretch;
  font-family: "Anton", sans-serif;
}

.navBar div {
  display: flex;
  background-color: #941C2F;
  align-items: center;
  justify-content: center;
  min-width: 8%;
  padding: 1%;
  color: #FFFEFE;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navBar a {
  text-decoration: none;
  font-size: x-large;
  color: inherit;
}

.titlebox {
  font-size: xx-large;
  flex-grow: 3;
  text-align: center;
  background-color: transparent !important;


}

.title {
  font-size: xx-large;
  flex-grow: 3;
  text-align: center;

}

.navBar div:hover {
  background-color: white;
  color: #030F11;
}


.titlebox:hover {
  color: white !important;
  background-color: transparent !important;
}

.dropdown {
  cursor: pointer;
  text-decoration: none;
  font-size: x-large;
  color: inherit;
  background-color: inherit;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  display: none;
  background-color: #941C2F;
  width: 100%;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.dropdown-menu li:hover {
  background-color: white;
  color: #030F11;

}

.dropdown:hover .dropdown-menu {
  display: block;
}