td input {
    margin: auto;
}

td {
    justify-content: center;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: medium;
}

.pageTitle {
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: xx-large;
}

table {
    width: 100%;
}

th {
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: large;
}