<h1>Admin Dashboard</h1>
<div>
  {{adminAlert}}
</div>
<div class="Create Beef">
  <label for="cut">Cut:</label>
  <input id="cut" #cut />
  <label for="weight">Weight:</label>
  <input type="number" id="weight" #weight />
  <label for="grade">Grade:</label>
  <input id="grade" #grade />
  <label for="price">Price:</label>
  <input type="number" id="price" #price />
  <label for="imageUrl">ImageURL:</label>
  <input id="imageUrl" #imageUrl />
  <button id="create" (click)="create(cut.value, +weight.value, grade.value, +price.value, imageUrl.value)">Create</button>
</div>

<ul id="inventory" class="Inventory">Inventory
  <div id="div" *ngFor="let beef of beef$ | async">
    <div class="Product">
      <label for="/product/{{beef.id}}">Name:
        {{beef.grade}} {{beef.cut}}
      </label>
      <label for="/product/{{beef.id}}">Weight:
        {{beef.weight}}
      </label>
      <label for="/product/{{beef.id}}">Price:
        ${{beef.price.toFixed(2)}}
      </label>
      <label for="updateWeight">Add/Remove Weight:</label>
      <input type="number" id="updateWeight" value="0" #updateWeight />
      <label for="updatePrice">Set Price: </label>
      <input type="number" id="updatePrice" value={{beef.price.toFixed(2)}} #updatePrice />
      <label for="updateImageUrl">Update Image:</label>
      <input for="updateImageUrl" value={{beef.imageUrl}} #updateImageUrl/>
      <button id="editPrice"
        (click)="update(beef, +updateWeight.value, +updatePrice.value, updateImageUrl.value); updateWeight.value = '0'; updatePrice.value = beef.price.toFixed(2); updateImageUrl.value = beef.imageUrl;">Update</button>
      <button id="delete" (click)="delete(beef.id!)">Delete</button>
    </div>
  </div>
</ul>