<div class="pageTitle">
  Admin Dashboard
</div>


<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Weight
    </th>
    <th></th>
    <th></th>
    <th></th>
    <th>
      Price
    </th>
    <th>
      Image URL
    </th>
    <th>
    </th>
    <th>

    </th>
  </tr>
  <tr *ngFor="let beef of beef$ | async">
    <td class="name">
      {{beef.grade | uppercase}}-{{beef.cut | titlecase}}
    </td>
    <td>
      {{ (beef.weight > 0) ? beef.weight + " lbs" : "Out of Stock" }}
    </td>
    <td class="remove">
      <button class="material-symbols-outlined"
        (click)="updateWeight.value = (+updateWeight.value - 1).toString()">remove</button>
    </td>
    <td>
      <input #updateWeight type="number" class="weightValue" value=0>
    </td>
    <td class="add">
      <button class="material-symbols-outlined"
        (click)="updateWeight.value = (+updateWeight.value + 1).toString()">add</button>
    </td>
    <td>
      <div class="moneyContainer">
        <div class="material-symbols-outlined">
          attach_money
        </div>
        <input type="number" class="priceValue" value={{beef.price.toFixed(2)}} #price>
      </div>
    </td>
    <td>
      <div class="imageUrlContainer">
        <input value={{beef.imageUrl}} #imageurl>
      </div>
    </td>
    <td>
      <div class="update">
        <button class="material-symbols-outlined"
          (click)="update(beef, +updateWeight.value, +price.value, imageurl.value)">
          update</button>
      </div>
    </td>
    <td class="remove">
      <button class="material-symbols-outlined" (click)='delete(beef.id!)'>delete</button>
    </td>
  </tr>
</table>
<table>
  <th>Cut</th>
  <th>Grade</th>
  <th>Weight</th>
  <th>Price</th>
  <th>Image URL</th>
  <tr>
    <td>
      <input #cut>
    </td>
    <td>
      <input #grade>
    </td>
    <td>
      <input type="number" #weight>
    </td>
    <td>
      <input type="number" #price>
    </td>
    <td>
      <div class="imageUrlContainer">
        <input #imageUrl>
      </div>
    </td>
    <td>
      <div class="">
        <button class="material-symbols-outlined" id="create" (click)="create(cut.value, +weight.value, grade.value, +price.value, imageUrl.value);
     cut.value = '';
      weight.value='';
       grade.value='';
       price.value='';
       imageUrl.value='';
       ">
          add_circle
        </button>
      </div>
    </td>

  </tr>
</table>

<div class="alert">
  {{adminAlert}}
</div>