<h1>Admin Dashboard</h1>
<div>
  {{adminAlert}}
</div>


<table>
  <tr>
    <th>
      Cut
    </th>
    <th>
      Grade
    </th>
    <th>
      Weight
    </th>
    <th>
      Price
    </th>
    <th>
      Image URL
    </th>
    <th>
      Button
    </th>
  </tr>

  <tr *ngFor="let beef of beef$ | async">
    <td>
      <input value={{beef.cut}}>
    </td>
    <td>
      <input value={{beef.grade}}>
    </td>
    <td>
      <input value={{beef.weight}}>
    </td>
    <td>
      <input value={{beef.price}}>
    </td>
    <td>
      <input value={{beef.imageUrl}}>
    </td>
    <td>
      <button>Fuck you</button>
    </td>
  </tr>

  <tr>
    <td>
      <input #cut>
    </td>
    <td>
      <input #weight>
    </td>
    <td>
      <input #grade>
    </td>
    <td>
      <input #price>
    </td>
    <td>
      <input #imageUrl>
    </td>

    <button id="create" (click)="create(cut.value, +weight.value, grade.value, +price.value, imageUrl.value)">Create
    </button>
  </tr>


</table>