
h1{
    text-align: center;
    font-family: "Anton", sans-serif;
    padding-top: 20px;
    font-size: 50px;;
}
.cardsMenu{
    display: flex;
    padding: 10px; 
    text-align: center;
    font-family: "Anton", sans-serif;
    justify-content: left;
    margin:0 auto;
    
}
.cardButton{
   padding:10px;
   display: flex;
   margin:0 auto;
   
}
.cardButton button{
    width: 600px;
    height: 200px;
    font-size: 30px;
    border-radius: 10px;
}
 .cardButton button:focus{
   background-color:#42533F; ;
   color:white;
}

.cardsMenu .cardButton div{
    font-family: "Anton", sans-serif;
}
table {
    
    border-collapse: collapse;
    border-spacing: 2px;
    
    
  }
  table,
  
  th,
  td {
    padding: 10px 15px;
    border-left:none;
    border-right:none;
    border:none;
  }

  .checkout{
    padding: 10px;
    width: 40px;
  }

  .warning{
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
  }

  .cardTitle{
    display: flex;
    margin: 0 auto;
    padding-left: 60px;
    
  }
  .cardTitle h1{
    text-align: left;
    font-size: 40px;

  }

  .checkout button{
    height: 100px;
    width: 200px;
    font-size: 30px;
    font-family: "Anton", sans-serif;
  }

  .checkout{
    display: flex;
    align-items: center;
  }