.header {
    align-items: center;
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
    display: flex;
    

}
label{
    vertical-align: middle;
    font-size: 60px;
    align-items: center;
    text-align: center;
    padding-right: 10px;
} 
 h1{
    display: inline-block;
    vertical-align: middle; 
    text-align: center;
    text-decoration: none;
    font-size: 55px;    
    font-family: "Anton", sans-serif; 
    letter-spacing:2px;
    

 }

 .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    background-color: white;
    color: black;
    padding: 2px 16px;
    border-radius: 5px;
    text-align: right;
    text-transform: capitalize;
 }
 
 