<div class="header">
    <div class="material-symbols-outlined">
        <label> shopping_cart </label>
    </div>
    <h1> My Cart</h1>

</div>
<h1> My Cart:</h1>
<div>
    {{cartAlert}}
</div>
<ul>
    <li *ngFor="let beef of cart$ | async">
        <div>
            <div>
                Cut: {{beef.cut}}
            </div>
            <div>
                Grade: {{beef.grade}}
            </div>
            <div>
                Amount: {{beef.weight}}
            </div>
            <div>
                Price: {{beef.weight * beef.price}}
            </div>
            <button (click)="removeFromCart(beef.id!)">
                Remove
            </button>
        </div>
    </li>
    <button id="goToCheckout" onclick="window.location.href='checkout'" *ngIf="!isEmpty">
        Proceed to Checkout
    </button>
</ul>
