
<div class ="header">
<div class="material-symbols-outlined">
    <label> shopping_cart </label>
    </div> <h1> My Cart</h1>
   
</div>

<div>
{{cartAlert}}
  </div>



    <li *ngFor="let beef of cart$ | async">
        <div class="card">
            <div class="image">
                <img src="{{beef.imageUrl}}">
            </div>
            <div class="container">
                <div class="name">
                    {{beef.grade}} {{beef.cut}} 
            </div>
                
            <div>
                Amount: {{beef.weight}}
            </div>
            <div>
                Price: {{beef.weight * beef.price}}
            </div>
            <div class="remove">
            <button (click)="removeFromCart(beef.id!)">
                Remove
            </button>
        </div>
        </div>
        </div>
    </li>
    <button id="goToCheckout" onclick="window.location.href='checkout'" *ngIf="isEmpty===false">
        Proceed to Checkout
    </button>

