<div class="header">
    <div class="material-symbols-outlined">
        <label> shopping_cart </label>
    </div>
    <h1> My Cart</h1>

</div>
<div class="proceed">
    <button id="goToCheckout" onclick="window.location.href='checkout'" *ngIf="isEmpty===false">
        Proceed to Checkout
    </button>
</div>
<div>
    {{cartAlert}}
</div>

<div class="cardContainer">
    <div *ngFor="let beef of cart$ | async" class="card">
        <div class="name" routerLink="/product/{{beef.id}}">
            {{beef.grade | uppercase}}-{{beef.cut | titlecase}}
        </div>
        <div class="imageSplit">
            <div class="imageContainer">
                <img src="{{beef.imageUrl}}">
            </div>
            <div class="container">

                <div class="details">
                    <div>
                        Weight: {{beef.weight | number:'1.0':'en-US'}} lbs
                    </div>
                    <div>
                        Price/lb: $ {{beef.price | number:'1.0':'en-US'}}
                    </div>
                    <div>
                        Price: $ {{beef.weight * beef.price |number:'1.0':'en-US'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="remove">
            <button (click)="removeFromCart(beef.id!)" class="material-symbols-outlined">
                delete
            </button>
        </div>
    </div>


</div>