<div *ngIf="beef">
    <div>
        <a routerLink="/catalog" class="back">Back</a>
    </div>

    <div class="title">
        {{beef.grade}} {{beef.cut}}
    </div>

    <div class="imgSplit">
        <div class="imageContainer">
            <img src="https://th.bing.com/th/id/OIP.WOibZ-zlIIn6OgSHqyNEPgHaE0?pid=ImgDet&rs=1">

        </div>
        <div>
            <div>
                $/lbs
                <br>
                {{beef.price.toFixed(2)}}
            </div>
            <div>
                Total Amount: <br>{{beef.weight}}
            </div>
        </div>
    </div>

    <div>
        Amount:
        <input id="amount" #amount (keyup.enter)="addToCart(beef.id!, amount.value)">

    </div>
    <div>
        <button (click)="addToCart(beef.id!, amount.value)">Add to Cart</button>
    </div>
</div>
<div>
    {{productAlert}}
</div>