image {
  width: max-content;
}

.imgSplit {
  display: flex;
  flex-direction: row;
  margin: 0 10%;
}

.imageContainer {
  width: 50%;
}

.titleBar {
  display: flex;
  flex-direction: row;
}

.title {
  font-family: "Anton", sans-serif;
  font-size: xx-large;
  text-align: center;
  width: 100%;
  padding: 2%;
}

.productInfo {
  justify-content: center;
  text-align: center;
}