<div *ngIf="beef" class="productPage">
    <div class="backButton">
        <button class="material-symbols-outlined" (click)="goBack()">arrow_back</button>
    </div>
    <div>
        <div class="split">
            <div class="imageContainer">
                <img src={{beef.imageUrl}}>

            </div>
            <div class="productInfo">
                <div>
                    <div class="title">{{beef.grade}}-{{beef.cut}}</div>
                    <div>
                        ${{beef.price.toFixed(2)}}/lbs
                    </div>
                    <div>
                        Total Amount: {{beef.weight}} lbs
                    </div>
                </div>
                <div>

                    <input id="amount" placeholder="Amount (lbs)" class="amountBox" #amount
                        (keyup.enter)="addToCart(beef.id!, amount.value)">
                    <div class="addButton">
                        <button class="material-symbols-outlined"
                            (click)="addToCart(beef.id!, amount.value)">add_shopping_cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alert">
        {{productAlert}}
    </div>
</div>