.beefMenu {
  margin: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.item {
  background-color: white;
  border: 3px solid black;
  width: 25%;
  cursor: pointer;
  font-family: "Anton", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2%
}

.title {
  font-size: large;
  text-align: center;
}

.imageContainer {
  width: 80%;
  display: flex;
  margin: auto;
}